<!-- Header -->
<header id="header" {{- if .IsHome -}}class="alt"{{- end -}}>
    <h1>{{ with .Site.Data.globalheader.title }}{{ . | markdownify }}{{else}}{{ .Site.Title }}{{end}}</h1>
    <nav id="nav">
        <ul>
            {{ $button_home := .Site.Data.globalheader.button_home }}
            {{ if $button_home.enable }}
            <li><a href="{{ $button_home.link }}" >{{ $button_home.title }}</a></li>
            {{ end }}
            {{ $button_news := .Site.Data.globalheader.button_news }}
            {{ if $button_news.enable }}
            <li><a href="{{ $button_news.link }}" >{{ $button_news.title }}</a></li>
            {{ end }}
            {{ $button_calendar := .Site.Data.globalheader.button_calendar }}
            {{ if $button_calendar.enable }}
            <li><a href="{{ $button_calendar.link }}">{{ $button_calendar.title }}</a></li>
            {{ end }}
            {{ $button_history := .Site.Data.globalheader.button_history }}
            {{ if $button_history.enable }}
            <li><a href="{{ $button_history.link }}">{{ $button_history.title }}</a></li>
            {{ end }}
            <li>
                <a href="#" class="icon solid fa-angle-down">Karten</a>
                <ul>
                    {{- range .Site.Menus.map -}}
                        {{- if .HasChildren -}}
                        <li>
                            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
                            <ul>
                                {{- range .Children -}}
                                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                                {{- end -}}
                            </ul>
                        </li>
                        {{- else -}}
                        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                        {{- end -}}
                    {{- end -}}
                </ul>
            </li>
            <li>
                <a href="#" class="icon solid fa-angle-down">Firmware</a>
                <ul>
                    {{- range .Site.Menus.firmware -}}
                        {{- if .HasChildren -}}
                        <li>
                            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
                            <ul>
                                {{- range .Children -}}
                                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                                {{- end -}}
                            </ul>
                        </li>
                        {{- else -}}
                        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                        {{- end -}}
                    {{- end -}}
                </ul>
            </li>
            <li>
                <a href="#" class="icon solid fa-angle-down">Kontakt</a>
                <ul>
                    {{- range .Site.Menus.kontakt -}}
                        {{- if .HasChildren -}}
                        <li>
                            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
                            <ul>
                                {{- range .Children -}}
                                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                                {{- end -}}
                            </ul>
                        </li>
                        {{- else -}}
                        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                        {{- end -}}
                    {{- end -}}
                </ul>
            </li>
        </ul>
    </nav>
</header>